* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 75%;
    height: 88%;
    border: 1px solid #C9035F;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

header .menu-left, .main-music {
    position: relative;
    width: 27%;
    height: 90%;
    border: 1px solid #C9035F;
    background-color: #2a2f3f;
    box-shadow: 5px 0px 2px #000;
    color: #F5FBEF;
}

header .main-music {
    width: 73%;
    background-color: #161925;
    display: flex;
    align-items: center;
    justify-content: center; /* Align content to the left */
}

header .main-music .song {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%; /* Take up full width */
    margin-left: 25px;
    margin-top: 50px;
}

header .main-music .song h4 {
    font-size: 18px;
    flex: 0  16%; /* Adjusted width to fit five songs in a row */
    margin: 10px 0px 0px 10px; /* Remove default margin */
    padding: 15px; /* Add padding for spacing */
    width: 50%;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

header .main-music .song p{
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}

header .main-music .song span {
    display: block; /* Ensure each span is on a new line */
    margin-top: 2px; /* Add margin to separate the text from the image */
}

header .main-music h4 {
    transition: color 0.3s ease; /* Add transition property for color */
    font-weight: 200;
}

header .main-music h4:hover {
    color: #C9035F;
}

header .main-music h4 span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #C9035F;
    border-radius: 50%;
    top: 8.5px;
    left: -20px;
    transition: 0.3s linear;
}

header .main-music h4:hover span::before {
    color: #C9035F;
}

header .title {
    position: absolute;
    font-size: 40px;
    font-weight: 500;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
  }

header .player{
    width: 100%;
    height: 10%;
    background-color:#1D2234;
    box-shadow: 5px 3px 8px #1D2234;
    border: 1px solid #C9035F;
}

header .menu-left h1{
    font-size: 20px;
    margin: 10px 0px 0px 15px;
    font-weight: 500;
}

header .menu-left {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: flex-start; /* Align items at the start */
    align-items: flex-start; /* Align items at the start */
}

header .menu-left .playlist {
  margin: 20px 0px 0px 25px; /* Increased margin-top for downward shift */
}

header .menu-left .playlist h4 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
    color: #d4d4d4;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}

header .menu-left .playlist h4:hover {
    color: #C9035F;
}

header .menu-left .playlist h4 span {
    position: relative;
    left: 20px;
    margin-right: 35px;
}

header .menu-left .playlist h4 span::before {
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #C9035F;
    border-radius: 50%;
    top: 8.5px;
    left: -20px;
    transition: 0.3s linear;
}

header .menu-left .playlist h4:hover span::before {
    color: #C9035F;
}

.playing-now {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px -56px; /* Increased margin-top for downward shift */
    border-left: none; /* Border on the left side */
    border-right: none; /* Border on the right side */
    border-top: 2px solid #C9035F; /* Border on the top side */
    border-bottom: none;
    padding: 70.5px; /* Add padding to create space within the border */
    padding-left: 72px; /* Adjust left padding */
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 20px;
}

.playing-now h3 {
    position: absolute;
    left: 4.5%;
    top: 90%;
}

.playing-now h4 {
    position: absolute;
    left: 4.8%;
    top: 94%;
    font-size: 13px;
    font-weight: 300;
}

.player i{
    font-size: 2.2em;
    color: #d4d4d4;
    margin: 12px;
}

.play-buttons {
    position: absolute;
    font-size: 0.8em;
    top: 87.5%;
    left:75%;
    z-index: 100; 
}

#masterPlay {
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove default shadow */
  }

#song-slider {
    position: absolute;
    font-size: 3em;
    top: 20%;
    left:-380%;
    background-color: #C9035F;
}

.player span {
    color: #d4d4d4;
    width: 32px;
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 0px 20px;
}

#start-timer {
    position: absolute;
    left: 39.5%;
    top: 90.4%;
}

#end-timer {
    position: absolute;
    left: 66.3%;
    top: 90.4%;
}

#song-now {
    position: absolute;
    font-size: 20px;
    width: 100%;
    left: 16%;
    top: 88%;
}

#song-now h5{
    position: absolute;
    font-size: 12px;
    font-weight: 300;
}

#song-now img{
    position: absolute;
    left: -3.7%;
    top: 10%;
}

#volume-slider {
    position: absolute;
    right: 1%;
    top: 95%;
}

.historyItem {
  display: flex; /* Enable flexible box layout */
  align-items: center; /* Align content vertically */
  margin-bottom: -10px;
  top: 3px;
  left: 30px;
}
  
  .historyItem img {
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    margin-left: -50px; /* Add margin for spacing */
    position: absolute;
    top: 3px;
    left: 20px;
  }